@charset "UTF-8";
/* SCSS Document */

// custom scrollbar
::-webkit-scrollbar {
    width: 11px;
}
  
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}
  
::-webkit-scrollbar-thumb {
    background-color: #999999; 
    border-radius: 6px;
  
    &:hover {
        background-color: #808080;
    }
}
  
::-webkit-scrollbar-track-piece {
    background-color: #555555; 
}