@charset "UTF-8";
/* SCSS Document */

@import 'style'; //import of globale style attributes
@import 'transitions'; //import of transitions

@import 'mixins';

// static Colors
:root {
    --white: #ffffff;
    --red: #ff0000;
    --light_red: #ff6666;
    --dark_red: #cc0000;
    --black: #000000;

    --font: "Raleway", sans-serif;

    --nav-size: 65px;
    --border-radius: 8px;
    --speed: 500ms;
}

* {
    --bg: #282828;
    --text: var(--white);

    --border: 204, 204, 204;
}